.selfAnchor {
  color: inherit;
  text-decoration: none;
}

.selfAnchor > *:hover::after {
  content: '\26AC\26AC';
  display: inline-block;
  padding-left: .2em;
  transform: rotate(-15deg);

  letter-spacing: -.2em;
  vertical-align: super;
  font-size: 0.5em;
  color: lightgray;
}